// Importing variables
@import url('https://www.carlaiau.com/fonts/722256/BC5431165B200E0F8.css');
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';


$orange: #FF5335;
$brown:#B29C85;
$teal:#306E73;
$grey: #3B424C;
$dark: #1D181F;
html{
	
	font-size: 12px;
	
	@media screen  and (min-width: 810px){
		font-size: 13px;
	}
	
	@media screen  and (min-width: 1024px){
		font-size: 14px;
	}
	@media screen  and (min-width: 1200px){
		font-size: 16px;
	}
	@media screen  and (min-width: 1400px){
		font-size: 18px;
	}

}
body, button, input, select, textarea{
    font-family: "Hoefler Titling A", "Hoefler Titling B";
    font-style: normal;
	font-weight: 300;
	color: $dark;
}
.select{
	select{
		&:invalid{
			color: rgba(29, 24, 31, 0.3);
		}
	}
}
a{
	color: $teal;
}
.is-size-1{
    font-family: "Gotham Cond SSm A", "Gotham Cond SSm B";
    font-style: normal;
	font-weight: 600;
	font-size: 4rem !important;
}

.button{
	font-family: "Gotham Cond SSm A", "Gotham Cond SSm B";
	font-style: normal;		
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1rem;
	
	&.is-primary{
		background-color: $teal;
		transition: 0.5s;
	}
	.custom-icon{
		margin-left: 0.2em;
	}
	float: right;
}
.backdrop{
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 10;
}
.is-size-4{
	line-height: 2em;
}
.is-size-5{
	line-height: 1.5em;
}
p{
	text-align: justify;
}
.is-space-between{
	justify-content: space-between;
}
.container{	
	@media screen  and (max-width: 1024px){
		padding: 0 10%;
	}
	@media screen  and (max-width: 375px){
		padding: 0 1%;
	}
}
.is-fullheight{
	.columns{
		padding: 100px 0;
		@media screen  and (max-width: 1024px){
			padding: 50px 0;
		}
	}
	&.coffee{
		.columns{
			padding-top: 0;
		}
		.is-size-1{
			padding-top: 100px;
			@media screen  and (max-width: 1024px){
				padding-top: 50px;
			}
		}
	}
}

.more{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -0.5em;
	font-size: 2rem;
	color: $teal;
	transition: 0.5s;
	&:hover{
		color: $orange;	
	}
	z-index: 9999;
}


.hero{
	position: relative;
	hr{
		height: 10px;
		margin-left: 5px;
		margin-bottom:50px;
		width: 100px;
	}
	
	&.primary{
		//background: radial-gradient(circle at 50% 200%, $teal 0%, $dark 85%);
		//background: radial-gradient(circle at 200% 50%, $teal 0%, $dark 90%);
		background: radial-gradient(circle at 250% 50%, $teal 0%, $dark 100%);
		.is-size-1, .more {
			color: $orange;
			
		}
		p{
			color: rgba(256,256,256,0.9);
			.custom-icon{
				margin-bottom: -0.1em;
				color: $orange;
			}
		}
		hr{
			background-color: rgba(256,256,256,0.1);
		}
		&.first{
			p{
				text-align: left;
				a{
					color: rgba(256,256,256,0.9);
					text-decoration: none;
					border-bottom: 1px solid rgba(256,256,256,0.9);
					transition: 0.5s;
					&:hover{
						color: #fff;
						border-bottom-color: #fff;
					}
				}
			}
		}
	}
	&.secondary{
		background: #fff;
		.is-size-1{
			color: $teal;
		}	
		p{
			color: $dark;
			.custom-icon{
				&.small{
					height: 0.8em;
					width: 0.8em;
					
				}
				margin-bottom: -0.1em;
				color: $teal;
			}
		}
		hr{
			background-color: $dark;
			opacity: 0.1;
		}
		a{
			&.has-tip{
				&:hover{
					color: $teal;
				}
			}
		}
		
	}
	&.coffee{
		background: radial-gradient(circle at 250% 50%, $brown 0%, #fff 100%);
		@media screen and (max-width: 412px){
			background: radial-gradient(circle at 500% 50%, $brown 0%, #fff 100%);
			background: #fff;
		}

		h1{
			
			color: $brown;
			
		}
		hr{
			background-color: $brown;
			opacity: 0.1;
		}
		.select{
			width: 100%;
			select{
				width: 100%;
			}
			&:after{
				border-color: rgba(29, 24, 31, 0.3);
			}
		}
		.input, select{
			background: #fff;
			&:focus{
				border-color: $brown;
			}
		}
		textarea{
			padding: calc(0.375em - 1px) 2.25em;
		}
	}
}


.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $secondary-color;
	}
}

#section-2{
	a{
		&.down{
			color: #fff;
			padding-bottom: 0px;
			border-bottom: 1px solid #fff;
		}	
	}
}